h1 { padding:0 0 5px 0;font-family:"Oswald",Trebuchet MS; font-size:25px; font-weight:bold; }
h2 {padding:0 0 5px 0;font-family:"Oswald",Trebuchet MS; font-size:22px; font-weight:bold; }
h3 {padding:0 0 10px 0; font-size:14px; font-weight:bold; }
h4 {padding:0 0 10px 0; font-size:14px; font-weight:bold; }
h5 { padding:0 0 7px 0; font-size:14px; font-weight:bold;}
h6 { font-weight:bold; padding:0 0 10px 0; font-size:12px;}



.category-title h2 { font-size:22px; font-weight:bold;}
.content h3 { font-size:16px; font-weight:bold;}


b { font-weight:bold ;}



